version: '2'
services:
      server:
        build: ./server/
        ports: 
          - 8080:8080
        container_name: server
        depends_on:
          - mongodb
        environment:
          WAIT_HOSTS: redis:6379, mongodb:27017
        depends_on:
          - redis
          - mongodb


      messengers_server:
        build: ./messengers/
        container_name: messengers_server
        command: python -u server.py
        ports:
          - 8081:8081

      mongodb:
        image: mongo:latest
        container_name: "mongodb"
        environment:
          - MONGODB_USER="user" 
          - MONGODB_PASS="pass"
        volumes:
          - ./data/db:/data/db
        ports:
            - 27017:27017
        command: mongod

      redis:
        image: redis:latest
        container_name: "redis"
        ports:
          - 6379:6379
